TELEGRAM_BOT_TOKEN=8663398165:AAHeS3aBgExtwzOp5MRzx7LMW5QVFnia1sU
GEMINI_API_KEY=AIzaSyAMSLlDArMxrzFOo3X2LbB3ItSJD5AJrNM
WEBSITE_URL=https://www.azubiheft.de/
WEBSITE_USERNAME=adrian.collins@peri.com
WEBSITE_PASSWORD=strengthBEFOREw3@kn355
TARGET_CHAT_ID=@AD6317
